{% extends "base1.html" %}
{% block title %}Edit Ticket{% endblock %}
{% block content %}
<div class="Ticket-edit-container">
    <div class="Ticket-card">
        <h2>Edit Ticket</h2>
        <p>Update your Ticket information below.</p>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label>Title</label>
                {{ ticket_form.title}}
            </div>
            <div class="form-group">
                <label>Description</label>
                {{ ticket_form.description }}
            </div>
            <div class="form-group">
                <label>Attachment</label>
                {{ ticket_form.attachment }}
            </div>
            <div class="button-group">
                <button type="submit" class="btn-save">
                    Save Changes
                </button>
                <button type="button"class="btn-cancel"onclick="history.back()">
                    Cancel
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}