{% extends "base.html" %}
{% load socialaccount %}
{% block title %}Create an Account{% endblock %}
{% block content %}
<div class="login-page">
    <div class="login-form">
        <h1>Create an Account</h1>
        <p class="login-description">
            Register to access the IT Help Desk Management System.
        </p>
        <form method="post">
            {% csrf_token %}
            {{ user_form.as_p }}
            <button type="submit" class="login-btn">
                Create Account
            </button>
        </form>
        <div class="divider">
            <span>OR</span>
        </div>
        <a href="{% provider_login_url 'google' process='signup' %}" class="google-btn">
            <img src="https://developers.google.com/identity/images/g-logo.png"
                 alt="Google"
                 width="20">
            Sign up with Google
        </a>
        <div class="register-link">
            Already have an account?
            <a href="{% url 'login' %}">
                Log In
            </a>
        </div>
    </div>
</div>
{% endblock %}